{% extends "base.html.twig" %}
{% block body %}
<div class="container my-5">
    <h1>hello</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/project" class="btn btn-success">Add prject</a>


</div>

{% endblock body %}